.nav {
  position: fixed;
  z-index: 10;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 50px;
  width: 100%;
}

#navTitle {
  text-align: center;
  font-size: 160%;
  font-family: 'Pacifico';
  color: #525252;
  position: static;
}

#navbar {
  background-color: #262626;
}

.switch {
  top: 0px;
  position: fixed;
  width: 60px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262626;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #525252;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(245, 81, 81);;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(245, 81, 81);;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
