#settings {
  position: absolute; left: 0; top: 75%; bottom: 50px;
  width: 175px;
  background-color: #262626;
}

.controls {
  width: inherit;
  position: absolute;
  bottom: 5px;
}

.select-input {
  width: inherit;
  height: 30px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid #262626;
}

#input{
  width: inherit;
  height: 30px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid #262626;
}

#logoutBtn {
	height: 30px;
	width: inherit;
	text-decoration:none;
	color: #ffffff;
	transition:.5s ease;
	background: #525252;
	border: none;
	border-radius: 10px;
}

#logoutBtn:hover {
  background:rgb(245, 81, 81);
}

.active logoutBtn {
  background:rgb(245, 81, 81);
}
